@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

.navbar {
  padding: .8rem;
}
/*
.container-fluid {
  background-color: rgb(204, 225, 252);
} */

.header-bg {
background: rgb(235, 245, 255);
background: linear-gradient(133deg, rgba(235, 245, 255, 1) 10%, rgba(230, 242, 255, 1) 53%, rgba(94, 149, 190, 1) 99%);
/*background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);*/
}
.navbar-nav li {
  padding-right: 1em;
}

/*This gets added to the filtered elements*/
.show-filter {
  display: none !important;
}

/*.carousel {

  height: 360px;

} */

/*.carousel-inner &gt; 
.item &gt;*/

/*.carousel-item {

  height: 360px;

  object-fit: contain;

} */
/*
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
}
*/

.nav-link {
  font-family: 'Bebas Neue';
  src: url(fonts/BebasNeue.ttf) format('truetype');
  font-size: 1.1em !important;
  letter-spacing: 2px;

}

.carousel img {
  width: 100%;
  /*height: 700px;*/
  object-fit: contain;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 1px 1px 15px #000;
  color: #3f72af;
  letter-spacing: 5px;
}


.carousel .display-2 {
  font-family: 'Bebas Neue';
  letter-spacing: 5px;
}

.display-4 {
  font-family: 'Bebas Neue';
  src:url(fonts/BebasNeue.ttf) format('truetype');
  letter-spacing: 5px;
}

button {
  font-family: 'Bebas Neue';
}

.btn-primary {
  background: #9696af;
  color: #112d4e;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid #563d73;
}

.btn-primary:hover {
  background: #3f72af;
}


/*
.btn-secondary {
  background: #9696af;
  color: #112d4e;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid #563d73;
}

.btn-secondary:hover {
  background: #3f72af;
}  */
/*
.row img {
  object-fit: cover;
} */
/*
.card {
  object-fit: cover;
} */

.card img {
    width: 100% !important;
    object-fit: cover;
}

.card {
    font-family: 'Poppins', sans-serif;
}

.social a {
  font-size: 3em;
  padding: 3rem;
}

.fa-facebook {
  color: #3B5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover {
  opacity: 0.7;
  color: #3f72af;
}

hr.light {
  border-top: 1px solid #112d4e;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer {
  background: rgb(217, 232, 250);
  /*background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  /*background-color: #f1dfd1;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);*/
  color: #112d4e;
}

.footer-links {
  list-style: none;
  padding: 0.2em;
}
.footer-links a{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  text-decoration: none;
}


.subscribe-form {
  padding: 1em;
}

/*input[type='submit'] {
  background: #9696af;
  color: #112d4e;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Bebas Neue', cursive;
}*/

input[type = 'submit'] {
  border: 0;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: rgba(94, 149, 190, 1);
  color: #332902;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 5px;
  border-radius: 25px;
  cursor: pointer;
}

/*input[type = 'reset'] {
  background: #9696af;
  color: #112d4e;
  width: 100px;
  height: 30px;
  /*Turn cursor to pointer when hovering over button
  cursor: pointer;
  font-size: 15px;
  font-family: 'Bebas Neue',
  cursive;
}*/
input[type='reset'] {
  border: 0;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: rgb(161, 194, 218);
  color: #332902;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 5px;
  border-radius: 25px;
  cursor: pointer;
}

input[type='submit']:hover,
[type='reset']:hover {
  background: #3f72af;
}

#contact-header {
  font-family: 'Bebas Neue';
  src:url(fonts/BebasNeue.ttf) format('truetype');
  padding-top: 1em;
} 

form {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 1.5em;
}

.form-check-inline .form-check-input {
  margin-left: 1.5em;
}
/*Fixes padding issue with form-check*/
.form-check {
  padding-left: 0em;
}

#error-message {
  margin-bottom: 20px;
  padding: 0px;
  background: #fe8b8e;
  text-align: center;
  /*Add the smooth transition effect*/
  transition: all 0.5s ease;

}

#product-container {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}
/*Shrink when hovered over*/
.product:hover {
  transform: scale(0.8);
}
.product {
  overflow: hidden;
  transition: transform 500ms;
}


/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .display-2 {
    font-size: 350%;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
  .display-2 {
    font-size: 250%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  /*Make the carousel indicators disappear when screen is smaller tahn 576px*/
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }

  .social a {
    font-size: 2em;
    padding: 0.7rem;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
These are all the breakpoints for Bootstrap
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








